:root{
  --cyan:hsl(179, 62%, 43%);
  --brightYellow:hsl(71, 73%, 54%);
  --lightGray:hsl(204, 43%, 93%);
  --grayishBlue:hsl(218, 22%, 67%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--lightGray);
  padding: 4rem 0;
}
.container{
  position: relative;
  height: auto;
  width:45%;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
 
}
.container .content1{
  width: 100%;
  padding: 39px;
  background: #fff;
  border-radius: 6px 6px 0 0;
}
.content1 h2{
  margin-bottom: 30px;
  color: var(--cyan);
  font-weight: 700;
}
.content1 h5{
  margin-bottom: 15px;
  font-size: 17px;
  color: var(--brightYellow);
  font-weight: 700;
}
.content1 p{
  font-size: 16px;
  line-height: 1.8rem;
  color: var(--grayishBlue);
  font-weight: 400;
}
.container .content2{
  display: flex;
  flex-direction: row;
  
}
.container .content2 .card1{
  background: var(--cyan);
  flex-basis:50% ;
  padding: 39px;
  border-radius: 0px 0px 0px 6px;
}
.content2 .card1 h3{
  font-size: 18px;
  color: var(--lightGray);
}
.content2 .card1 .pricebox{
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 20px 0 10px 0;
}
.content2 .card1 .pricebox h1{
  color: var(--lightGray);
  
}
.content2 .card1 .pricebox span{
  color: #fff;
  opacity: .4;
  font-size: 13px;
}
.content2 .card1 p{
  font-size: 13px;
  color: var(--lightGray);
  margin-bottom: 25px;
}
.content2 .card1 button{
  font-size: 14px;
  color: var(--lightGray);
  background: var(--brightYellow);
  width: 100%;
  padding: 18px;
  outline: none;
  border: none;
  border-radius: 6px;
  font-weight: 700;
}
.container .content2 .card2{
  background:#4abebd;
  flex-basis:50% ;
  padding: 39px 100px 39px 39px;
  border-radius: 0px 0px 6px 0px;
}

.content2 .card2 h3{
    font-size: 18px;
  color: var(--lightGray);
  margin-bottom:20px ;
}

.content2 .card2 p{
    font-size: 13px;
  color: var(--lightGray);
  line-height: 1.5em;
  opacity: .8;
}






@media (max-width:675px){
  .container{
    width: 80%;
    
  }
.container  .content1{
    padding:23px 18px 18px 18px;
  }
  .content1 h2{
    font-size: 18px;
    
  }
    .content1 h5{
    font-size: 15px;
  }
    .content1 p{
    font-size: 13px;
    line-height: 1.6rem;
  }
  .container .content2{
    display: flex;
    flex-direction: column;
  }
  .container .content2 .card1{
  padding:18px ;
  border-radius: 0px ;
}

  .container .content2 .card2{
  padding: 18px;
  padding-right: 100px;
  border-radius: 0px 0px 6px 6px;
}

}